<footer>
<ul class="bullet-list-inline text-center">
<li><time datetime="<%= new Date().toISOString() %>" class="text-muted"><%= new Intl.DateTimeFormat('en-US', {
  year: 'numeric', month: 'long', day: 'numeric' }).format(new Date())%></time></li>
<li><a href="/about">About</a></li>
<li><a href="/privacy">Privacy</a></li>
</ul>
<p><small><a href="https://pastafariancolander.com/">Holy Pastafarian Colander</a></small></p>
</footer>
