<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/i/simple.min.css">
<style>
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}
.icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-sm {
  width: 1rem;
  height: 1rem;
}
.icon-md {
  width: 2.25rem;
  height: 2.25rem;
}
.bullet-list-inline {
  padding-left: 0;
  margin-left: -3px;
  list-style: none;
}
.bullet-list-inline > li {
  display: inline-block;
  padding-right: 3px;
  padding-left: 3px;
}
.bullet-list-inline li:after{content:"\00a0\00a0\00b7"}
.bullet-list-inline li:last-child:after{content:""}
.small {
  font-size: 0.875em;
}
.text-nowrap {
  white-space: nowrap;
}
.text-muted {
  color: rgba(33, 37, 41, 0.75);
}
@media (prefers-color-scheme: dark) {
  .text-muted {
    color:rgba(173, 181, 189, 0.75);
  }
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.align-text-top {
  vertical-align: text-top;
}
.d-inline-block {
  display: inline-block;
}
</style>
