<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/i/fsm_calendar.svg" alt="" width="24" height="24" class="d-inline-block align-text-top">
      Pastafarian Calendar
    </a>
  </div>
</nav>
