<%- await include('partials/header.ejs', {
  title: 'Privacy Policy | Pastafarian Calendar',
}) -%>
<link rel="canonical" href="https://www.pastafariancalendar.com/privacy">
</head>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div id="content" class="mt-3">
<div class="row">
<div class="col">
<header>
<h2>About the Pastafarian Calendar</h2>
</header>
<p>Why only have a few Holy Days in a year?
Every day is special, so we have something to celebrate every day!</p>
<p>Want to learn more about Pastafarianism?
  Read Bobby Henderson's <a target="_blank" rel="sponsored" href="https://www.amazon.com/gp/product/0812976568/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0812976568&linkCode=as2&tag=pastafsm-20&linkId=7708b82e95707e1df60c40a480805efb">Gospel
  of the Flying Spaghetti Monster</a> <em class="small text-muted text-nowrap">(paid link)</em>.</p>
<p>This website was inspired by the <a href="https://pastafarians.org.au/pastafarianism/holidays/">Church
  of the Flying Spaghetti Monster Australia's 2016 holidays</a> and the author's love of
  <a href="https://home.unicode.org/emoji/about-emoji/">emoji</a>.
  Special thanks to Ned "Bruce" Gallagher for creating the
  <a href="https://pastafariancolander.com/">Holy Pastafarian Colander</a>
  and keeping the list of holidays up to date!</p>
<p class="small">Questions? Contact us at
  <a href="mailto:mradwin@pastafariancalendar.com">mradwin@pastafariancalendar.com</a></p>
</div><!-- .col -->
</div><!-- .row -->
</div><!-- #content -->
<%- await include('partials/footer.ejs') _%>
</body>
</html>
<!-- generated <%= new Date().toISOString() %> -->
