<%- await include('partials/header.ejs') -%>
<body>
<div class="container">
<div id="content" class="mt-3">
<div class="row">
<div class="col">
<header>
<h2>About the Pastafarian Calendar</h2>
</header>
<p>Why only have a few Holy Days in a year?
Every day is special, so we have something to celebrate every day!</p>
<p>Special thanks to the <a href="https://pastafarians.org.au/pastafarianism/holidays/">Church
of the Flying Spaghetti Monster Australia</a></p>
</div><!-- .col -->
</div><!-- .row -->
</div><!-- #content -->
<%- await include('partials/footer.ejs') _%>
</body>
</html>
<!-- generated <%= new Date().toISOString() %> -->
