<%- await include('partials/header.ejs', {
  title: 'Pastafarian Holidays ðŸ',
}) -%>
<link rel="canonical" href="https://www.pastafariancalendar.com/holidays">
<style>
.fc-event {
  color: var(--text);
  border: unset;
  background-color: var(--bg);
}
.fc-event .fc-event-title {
  color: var(--text);
  background-color: var(--bg);
  font-size: 1.25em;
}
.fc-event-time, .fc-event-title {
  padding: 0 1px;
  white-space: normal;
}
td.fc-list-event-time,
td.fc-list-event-graphic {
  display: none;
}
.fc .fc-daygrid-day.fc-day-today,
.fc .fc-event.fc-event-today .fc-event-main,
.fc .fc-event.fc-event-today .fc-event-title {
  color: black;
  background-color: var(--marked);
}
</style>
</head>
<body>
<header>
<%- await include('partials/navbar.ejs') -%>
</header>
<main>
<div id='calendar-container'>
<div id='calendar'></div>
</div>
</main>
<%- await include('partials/footer.ejs') _%>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
var calendarEl = document.getElementById('calendar');
var opts = {
  timeZone: 'UTC',
  initialView: window.outerWidth < 768 ? 'listMonth' : 'dayGridMonth',
  headerToolbar: {
    start: 'title',
    end: 'prevYear,prev today next,nextYear',
  },
  events: '/events.json',
};
if (window.outerWidth < 768) {
  opts.height = 640;
}
var calendar = new FullCalendar.Calendar(calendarEl, opts);
calendar.render();
document.addEventListener('keydown', function(e) {
  if (e.keyCode == 37) {
  calendar.prev();
  } else if (e.keyCode == 39) {
  calendar.next();
  }
});
window['pastaFullCalendar'] = calendar;
// calendar.changeView('dayGridMonth');
});
</script>
</body>
</html>
<!-- generated <%= new Date().toISOString() %> -->
