<%- await include('partials/header.ejs', {
  title: 'Privacy Policy | Pastafarian Calendar',
}) -%>
<body>
</head>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div id="content" class="mt-3">
<div class="row">
<div class="col">
<header>
<h2>Privacy Policy &middot; Pastafarian Calendar</h2>
</header>
<p>We don't collect or store any personally identifiable information.
  We don't know your name, phone number, or email address.</p>
<p>We do use your IP address to help diagnose problems with our server,
  and to administer our Web site. We collect aggregate information on what pages
  consumers access or visit.</p>
<p>The information we collect is used to improve the content of our Web page
  and is never shared with other organizations for commercial purposes.</p>
<p class="small">Questions? Contact us at
  <a href="mailto:mradwin@pastafariancalendar.com">mradwin@pastafariancalendar.com</a></p>
</div><!-- .col -->
</div><!-- .row -->
</div><!-- #content -->
<%- await include('partials/footer.ejs') _%>
</body>
</html>
<!-- generated <%= new Date().toISOString() %> -->
