<%- await include('partials/header.ejs', {
  title: 'Privacy Policy | Pastafarian Calendar',
}) -%>
<link rel="canonical" href="https://www.pastafariancalendar.com/privacy">
</head>
<body>
<header>
<%- await include('partials/navbar.ejs') -%>
<h2>Privacy Policy</h2>
</header>
<main>
<p>We don't collect or store any personally identifiable information.
  We don't know your name, phone number, or email address.</p>
<p>We do use your IP address to help diagnose problems with our server,
  and to administer our Web site. We collect aggregate information on what pages
  consumers access or visit.</p>
<p>The information we collect is used to improve the content of our Web page
  and is never shared with other organizations for commercial purposes.</p>
<p class="small">Questions? Contact us at
  <a href="mailto:mradwin@pastafariancalendar.com">mradwin@pastafariancalendar.com</a></p>
</main>
<%- await include('partials/footer.ejs') _%>
</body>
</html>
<!-- generated <%= new Date().toISOString() %> -->
